<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Productos Registrados</h1>

    {% if productos %}
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Codigo</th>
                    <th>Marca</th>
                    <th>Fecha vencimiento</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.codigo }}</td>
                        <td>{{ producto.marca }}</td>
                        <td>{{ producto.fecha }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay productos registrados.</p>
    {% endif %}
    
    <br>
    <a href="{% url 'registro' %}"><button>Volver</button></a>
</body>
</html>