{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Gestión de Productos S.A</title>
</head>
<body>
    <h1>Productos Registrados</h1>
    <div style="margin-bottom: 20px;">
        <a href="/admin/" >Ir a Administración</a>
        <a href="/logout/">Cerrar Sesión</a>
    </div>
        <table border="1">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Marca</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.codigo }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.marca }}</td>
                    </tr>
                {% endfor %}
                <div>
                    <p>Usuario conectado: {{ request.session.username }}</p>
                    <p>Fecha de conexión: {{ request.session.login_date }}</p>
                </div>
            </tbody>
        </table><br/>
        
</body>
</html>