<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Productos S.A</title>
</head>
<body>
    <h1>Productos Registrados</h1>

        <table border="1">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Marca</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.codigo }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.marca }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table><br/>
        <a href="{% url 'registro' %}"><button>Volver</button></a>
</body>
</html>